<div class="content">
    <div class="left-content">

        <h1>{{title}}</h1>
        <div class="box-legend">
            <h4>{{legendPage}}</h4>
        </div>

    </div>
    <div class="right-content">
        <div class="box-content">
            <h3>{{title2}}</h3>
            <p>{{legend}}</p>
            <ng-content></ng-content>
            <button>{{btnPrimary}}</button>
            <div></div>
            <span>Ou</span>
            <div></div>
            <div class="social-icons">
                <img src="google-icon.png" alt="Google">
                <img src="facebook-icon.png" alt="Facebook">
                <img src="github-icon.png" alt="GitHub">
            </div>
            <p>{{legend2}}</p>
        </div>
    </div>
</div>