/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o tamanho total do elemento inclua o preenchimento e a borda */
  }
html body {
    width: 100%;
}