
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o tamanho total do elemento inclua o preenchimento e a borda */
  }
  body {
    background-color: #010266; /* Defina a cor de fundo para o site inteiro */
  }
  :root {
    --bdrClr: #4D4D4D;
    --txt1Clr: white;  
  }